html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

.slider {
  min-width: 0;
}

button {
  cursor: pointer;
  outline: none !important;
  border: none !important;
}

img {
  max-width: 100%;
}

form input,
form textarea {
  border: none;
  outline: none;
}

textarea {
  resize: none;
}

.button {
  transition: 0.3s;
  background: #005fa3;
  color: #ffffff;
  padding: 20px 65px;
  margin-bottom: 70px;
  font-size: 18px;
}

.button:hover {
  color: #d9d9d9;
  background: #007dd6;
}

@media (max-width: 768px) {
  .button:hover {
    background: #005fa3;
    color: #ffffff;
  }
}

.container {
  margin: 0 auto;
  max-width: 1116px;
}

.container {
  outline: none !important;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-weight: normal;
}

h2 {
  font-size: 48px;
  font-weight: 900;
  font-family: "Merriweather", serif;
  color: #333333;
}

@media (max-width: 480px) {
  h2 {
    font-size: 24px;
  }
}

.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.slick-arrow {
  position: absolute;
  cursor: pointer;
  z-index: 3;
  transition: 0.3s;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 60px;
  font-size: 0;
}

.slick-dots {
  max-width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0;
}

.slick-dots li {
  overflow: hidden;
  list-style: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.slick-dots button {
  padding: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
}

.slick-dots .slick-active {
  background: #fff;
}

.slider {
  user-select: none;
}

.slider .slick-prev {
  background: rgba(255, 255, 255, 0.2) url(../img/icons/arrow-back.svg) center no-repeat;
  right: 5.5%;
}

.slider .slick-prev:hover {
  background: rgba(255, 255, 255, 0.5) url(../img/icons/arrow-back.svg) center no-repeat;
}

.slider .slick-next {
  background: rgba(255, 255, 255, 0.2) url(../img/icons/arrow-next.svg) center no-repeat;
}

.slider .slick-next:hover {
  background: rgba(255, 255, 255, 0.5) url(../img/icons/arrow-next.svg) center no-repeat;
}

@media (max-width: 1100px) {
  .slider .slick-prev {
    right: 6%;
  }
}

@media (max-width: 768px) {
  .slider .slick-prev {
    right: 8.1%;
  }
  .slider .slick-prev:hover {
    background: rgba(255, 255, 255, 0.2) url(../img/icons/arrow-back.svg) center no-repeat;
  }
  .slider .slick-next:hover {
    background: rgba(255, 255, 255, 0.2) url(../img/icons/arrow-next.svg) center no-repeat;
  }
  .slider .slick-dots li {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 480px) {
  .slider {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .slider__item {
    text-align: center;
  }
  .slider .slick-dots li {
    margin-left: 15px;
  }
  .slider .slick-dots button {
    width: 20px;
    height: 20px;
  }
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.25);
  z-index: 1000;
  user-select: none;
  background: #f9f9f9;
}

.header-wrap {
  padding: 22px 0 31px 0;
  font-family: "Lato", sans-serif;
}

.header__label {
  max-width: 260px;
  justify-content: space-around;
  align-items: center;
  display: flex;
  color: #005fa3;
  font-family: "Merriweather", serif;
  font-size: 36px;
  font-weight: 900;
}

.header-contacts {
  user-select: text;
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
  max-width: 680px;
}

.header-contacts__block {
  display: flex;
  align-items: center;
}

.header-contacts__block img {
  margin-right: 10px;
}

.header__navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 14px;
  max-width: 680px;
  color: #005fa3;
  text-transform: uppercase;
}

.header__navbar a {
  color: #005fa3;
}

@media (max-width: 1100px) {
  .header__label {
    justify-content: space-between;
    max-width: 200px;
  }
}

@media (max-width: 768px) {
  .header__label {
    margin-bottom: 10px;
  }
  .header-wrap {
    padding: 18px 0 18px 0;
  }
  .header-contacts {
    display: none;
  }
  .header__navbar {
    justify-content: space-around;
  }
}

.main {
  margin-top: 107px;
  z-index: 1;
  position: relative;
  background: url(../img/main/background.webp) center no-repeat;
  background-size: cover;
}

.main::after {
  z-index: 2;
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}

.main-wrap {
  padding: 170px 0 113px 0;
  position: relative;
  z-index: 3;
}

.main__header {
  margin-bottom: 80px;
  color: #ffffff;
  max-width: 589px;
  font-style: normal;
  line-height: 66px;
  font-size: 48px;
  font-weight: 900;
  font-family: "Merriweather", serif;
}

.main-slider {
  position: relative;
}

@media (max-width: 480px) {
  .main__header {
    font-size: 30px;
  }
  .main-wrap {
    padding: 70px 0 70px 0;
  }
}

.services {
  background: #ebebeb;
}

.services-wrap {
  padding: 140px 0;
}

.services__header {
  font-weight: 700;
  font-size: 24px;
  color: #005fa3;
}

.services__header h2 {
  margin-top: 40px;
  margin-bottom: 72px;
}

.services__card {
  margin-top: 30px;
  max-width: 100%;
  padding: 0 0 45px 45px;
  display: flex;
  align-items: flex-end;
  position: relative;
  z-index: 1;
  width: 350px;
  height: 360px;
  background: url(../img/services/background.jpg);
}

.services__card::after {
  z-index: 2;
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.65);
}

.services__card span {
  max-width: 187px;
  color: #ffffff;
  line-height: 30px;
  font-weight: 700;
  font-size: 24px;
  z-index: 3;
}

@media (max-width: 480px) {
  .services-wrap {
    padding: 80px 0;
  }
  .services__header {
    text-align: center;
  }
  .services__card {
    padding: 0;
    align-items: center;
    justify-content: center;
  }
}

.about-wrap {
  padding: 140px 0 110px 0;
}

.about__text span {
  color: #005fa3;
  font-size: 24px;
  font-weight: 700;
}

.about__text p {
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
}

.about__header {
  margin-bottom: 60px;
}

.about__header span {
  color: #333333;
}

.about__header h2 {
  color: #005fa3;
}

.about__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 80px;
}

.about__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 100px 0 40px;
  font-weight: 700;
  width: 255px;
  height: 255px;
  transition: 0.4s;
  margin-bottom: 30px;
  background: #ebebeb;
  font-size: 14px;
}

.about__card span {
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 55px;
}

.about__card a {
  cursor: pointer;
  color: #005fa3;
  text-decoration: underline;
  margin-top: 47px;
}

.about__card:hover {
  transform: scale(1.1);
  background: #005fa3;
  color: #ffffff !important;
}

.about__card:hover a {
  color: #ffffff;
}

@media (max-width: 1024px) {
  .about__cards {
    padding-left: 20px;
  }
}

@media (max-width: 768px) {
  .about__header {
    margin-bottom: 30px;
  }
  .about-wrap {
    padding: 50px 0 30px 0;
  }
  .about__text {
    text-align: center;
  }
  .about__text p {
    margin-bottom: 10px;
  }
  .about__cards {
    justify-content: space-around;
    padding: 0;
  }
  .about__card {
    text-align: center;
    padding: 0;
  }
  .about__card:hover {
    color: #000 !important;
    background: #ebebeb;
  }
  .about__card:hover a {
    color: #005fa3;
  }
}

.clients {
  background: #ebebeb;
}

.clients-wrap {
  padding: 100px 0;
}

.clients__header {
  font-weight: 300;
  font-size: 24px;
  color: #005fa3;
}

.clients__header h2 {
  margin-top: 40px;
}

.clients-slider {
  position: relative;
  margin-top: 60px;
}

.clients-slider .slick-dots button {
  background: rgba(0, 95, 163, 0.4);
}

.clients-slider .slick-dots .slick-active button {
  background: #005fa3;
}

.clients-slider .slick-list {
  margin-bottom: 50px;
}

.clients-slider .slick-prev {
  background: #005fa3 url(../img/icons/arrow-back.svg) center no-repeat;
}

.clients-slider .slick-prev:hover {
  background: rgba(0, 95, 163, 0.4) url(../img/icons/arrow-back.svg) center no-repeat;
}

.clients-slider .slick-next {
  background: #005fa3 url(../img/icons/arrow-next.svg) center no-repeat;
}

.clients-slider .slick-next:hover {
  background: rgba(0, 95, 163, 0.4) url(../img/icons/arrow-next.svg) center no-repeat;
}

@media (max-width: 768px) {
  .clients__header {
    text-align: center;
  }
  .clients-slider .slick-next:hover {
    background: #005fa3 url(../img/icons/arrow-next.svg) center no-repeat !important;
  }
  .clients-slider .slick-prev:hover {
    background: #005fa3 url(../img/icons/arrow-back.svg) center no-repeat !important;
  }
}

.reviews-wrap {
  padding: 140px 0;
}

.reviews__header {
  color: #005fa3;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}

.reviews__header h2 {
  margin-top: 40px;
}

.reviews-slider {
  position: relative;
  margin-top: 80px;
}

.reviews-slider .slick-dots button {
  background: rgba(0, 95, 163, 0.4);
}

.reviews-slider .slick-dots .slick-active button {
  background: #005fa3;
}

.reviews-slider .slick-list {
  margin-bottom: 100px;
}

.reviews-slider .slick-prev {
  background: #005fa3 url(../img/icons/arrow-back.svg) center no-repeat;
}

.reviews-slider .slick-prev:hover {
  background: rgba(0, 95, 163, 0.4) url(../img/icons/arrow-back.svg) center no-repeat;
}

.reviews-slider .slick-next {
  background: #005fa3 url(../img/icons/arrow-next.svg) center no-repeat;
}

.reviews-slider .slick-next:hover {
  background: rgba(0, 95, 163, 0.4) url(../img/icons/arrow-next.svg) center no-repeat;
}

.reviews-slider .slider__item {
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #ebebeb;
}

.reviews-slider .slider__item p {
  margin-bottom: 58px;
  color: #000;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
}

.reviews-slider .slider__item .reviews__client {
  max-width: 320px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reviews-slider .slider__item .reviews__client .client-img-wrap {
  width: 80px;
  height: 80px;
}

.reviews-slider .slider__item .reviews__client .client-info {
  display: flex;
  flex-direction: column;
}

.reviews-slider .slider__item .reviews__client .client-info b {
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 18px;
}

@media (max-width: 768px) {
  .reviews__header {
    text-align: center;
  }
  .reviews-slider .slick-prev {
    right: 8.1%;
  }
  .reviews-slider .slick-prev:hover {
    background: #005fa3 url(../img/icons/arrow-back.svg) center no-repeat;
  }
  .reviews-slider .slick-next:hover {
    background: #005fa3 url(../img/icons/arrow-next.svg) center no-repeat;
  }
}

@media (max-width: 480px) {
  .reviews-wrap {
    padding: 50px 0;
  }
  .reviews-slider {
    margin-top: 40px;
  }
  .reviews-slider .slider__item p {
    margin-bottom: 20px;
  }
  .reviews-slider .slick-list {
    margin-bottom: 50px;
  }
  .reviews__client {
    flex-direction: column;
  }
}

.contacts {
  z-index: 1;
  position: relative;
  background: url(../img/main/background.webp) center no-repeat;
  background-size: cover;
}

.contacts::after {
  z-index: 2;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
}

.contacts-wrap {
  position: relative;
  z-index: 3;
  padding: 120px 0;
}

.contacts-info,
.contacts-info h2 {
  color: #ffffff;
}

.contacts-info p {
  font-size: 18px;
  line-height: 25px;
  margin-top: 60px;
  margin-bottom: 30px;
}

.contacts-info span {
  font-weight: 500;
  font-size: 18px;
}

.contacts-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts__contact {
  display: flex;
  margin-bottom: 10px;
  width: 215px;
  font-weight: 300;
  font-size: 20px;
}

.contacts-img-wrap {
  text-align: center;
  width: 40px;
  max-height: 30px;
}

.contacts-form {
  display: flex;
  flex-direction: column;
  max-width: 540px;
  color: #ffffff;
}

.contacts-form .names-wrap {
  display: flex;
  justify-content: space-between;
}

.contacts-form .names-wrap div {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 255px;
}

.contacts-form .names-wrap div input {
  color: #ffffff;
  margin-top: 10px;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  border-bottom: 2px solid #ebebeb;
}

.contacts-form .names-wrap div input::placeholder {
  color: #005fa3;
}

.contacts-form .message-wrap {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.contacts-form .message-wrap textarea {
  margin-top: 10px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0);
  border-bottom: 2px solid #ebebeb;
}

.contacts-form .message-wrap textarea::placeholder {
  color: #005fa3;
}

.contacts-button {
  margin-top: 50px;
  align-self: flex-end;
  padding-left: 0;
  padding-right: 0;
  width: 270px;
}

@media (max-width: 768px) {
  .contacts-wrap {
    padding: 60px 0;
  }
  .contacts-info {
    padding-bottom: 30px;
    text-align: center;
  }
  .contacts-container {
    justify-content: space-around;
  }
  .contacts-form {
    margin: 0 auto;
    max-width: 90%;
  }
  .contacts-button {
    align-self: center;
  }
}

@media (max-width: 480px) {
  .contacts-form .names-wrap {
    flex-direction: column;
  }
  .contacts-form .names-wrap div {
    max-width: 100%;
    margin-bottom: 15px;
  }
  .contacts-form .names-wrap div:last-child {
    margin-bottom: 0;
  }
}

.footer {
  padding: 40px 0;
}

.footer span {
  font-size: 14px;
  color: #000;
  font-weight: 300;
}
/*# sourceMappingURL=index.css.map */