$main-blue: #005fa3;
$text-color-dark: #000;
$text-color-light: #ffffff;
$background-color-light: #f9f9f9;
$header-color: #333333;
$background-color-grey: #ebebeb;

// fonts
$font-lato: "Lato", sans-serif;
$font-merriweather: "Merriweather", serif;
