@import "_reset.scss";
@import "_variables.scss";
@import "_buttons.scss";
@import "_burger.scss";
.container {
  margin: 0 auto;
  max-width: 1116px;
}
.container {
  outline: none !important;
}
body {
  font-family: $font-lato;
  font-weight: 700;
  font-style: normal;
  font-weight: normal;
}
h2 {
  font-size: 48px;
  font-weight: 900;
  font-family: $font-merriweather;
  color: $header-color;
}
@media (max-width: 480px) {
  h2 {
    font-size: 24px;
  }
}

@import "_slider.scss";
@import "_header.scss";
@import "_main.scss";
@import "_services.scss";
@import "_about.scss";
@import "_clients.scss";
@import "_reviews.scss";
@import "_contacts.scss";
@import "_footer.scss";
