a {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
    color: black;
  }
}
button {
  cursor: pointer;
  outline: none !important;
  border: none !important;
}
img {
  max-width: 100%;
}
form {
  input,
  textarea {
    border: none;
    outline: none;
  }
}
textarea {
  resize: none;
}

.container {
  margin: 0 auto;
  max-width: 1116px;
  outline: none !important;
}
body {
  font-family: $font-lato;
  font-weight: 700;
  font-style: normal;
  font-weight: normal;
}
h2 {
  font-size: 48px;
  font-weight: 900;
  font-family: $font-merriweather;
  color: $header-color;
}
@media (max-width: 480px) {
  h2 {
    font-size: 24px;
  }
}
b {
  font-weight: 900;
  font-size: 19px;
}
